.list::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 10px; /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px;
}
.list::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 10px;
  background-color: skyblue;
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
}
.list::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #ededed;
  border-radius: 10px;
}
.list_li {
  position: relative;
  height: 200px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.6);
  list-style: none;
  flex-grow: 1;
  margin: 10px 5px 5px 0px;
  cursor: pointer;
  border-radius: 10px;
}
.list_li:nth-last-child(1){
  margin: 10px 5px 0px 0px;
}
.list_li:nth-child(1){
  margin: 0px 5px 5px 0px;
}
.thespan{
  background-color: #80808030;
  box-sizing: border-box;
  display: inline-block;
  height: 20px;
  border-radius: 5px;
}
.list_li .title {
  width: 100%;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 900;
  padding: 5px 0px 5px 20px;
}
.list_li .classify {
  font-size: 16px;
  font-weight: 600;
  padding: 2px 10px;
}
.list_li .date {
  font-size: 16px;
  font-weight: 600;
  padding: 2px 10px;
}
.list_li .synopsis {
  font-size: 16px;
  font-weight: 600;
  padding: 2px 10px;
}
.list_li .count {
  position: absolute;
  bottom: 5px;
  right: 3px;
  font-size: 16px;
  text-align: right;
  padding: 3px 10px;
}