.md_container {
  width: 100%;
  height: 100vh;
  display: flex;
}
.md_left {
  width: 50%;
  height: 100%;
}
.md_right {
  width: 50%;
  height: 100%;
  border-left: 2px solid #e3e3e3;
}
.left_head,
.right_head {
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 30px;
  font-weight: 900;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
}
.left_tittle input,
.left_content textarea {
  width: 100%;
  border: none;
  outline: none;
}
.left_tittle {
  height: 40px;
  border-bottom: 1px solid #e3e3e3;
}
.left_tittle input {
  text-indent: 20px;
  font-size: 25px;
  height: 30px;
  margin-top: 10px;
}
.left_content {
  padding-left: 10px;
  border-bottom: 1px solid #e3e3e3;
}
.left_content textarea {
  height: calc(100vh - 110px);
  margin-top: 10px;
  font-size: 20px;
}
.left_content textarea::-webkit-scrollbar{
  /*滚动条整体样式*/
  width : 10px;  /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px;
}
.left_content textarea::-webkit-scrollbar-thumb{
  /*滚动条里面小方块*/
  border-radius: 5px;
  box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
  background   : #535353;
}
.left_content textarea::-webkit-scrollbar-track{
  /*滚动条里面轨道*/
  box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background   : #ededed;
}



.right_tittle {
  width: 100%;
  height: 30px;
  border-bottom: 1px solid #e3e3e3;
  text-indent: 20px;
  font-size: 25px;
  margin-top: 10px;
}
.right_content {
  height: calc(100vh - 110px);
  margin-top: 10px;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 20px;
  overflow: auto;
}
.right_content_scrollbar {
  width: 100%;
  height: 100%;
  margin: auto;
}

.right_content::-webkit-scrollbar {
  /*滚动条整体样式*/
  width : 10px;  /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px;
  }
  .right_content::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 5px;
  box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
  background   : #535353;
  }
  .right_content::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background   : #ededed;
  }
