.nav_div {
  /* 大小与盒模型 */
  width: 100%;
  /* 定位 */
  position: relative;
  /* position: -webkit-sticky; */
  /* position: sticky; */
  top: 0px;
  z-index: 40;
  /* 文本流 */
  display: flex;
  flex-wrap: wrap;
  /* 背景样式 */
  background-color: rgba(255, 255, 255, 0.4);
}

/* tittle.css------------------------------ */
.tittle {
  position: relative;
}
.hello {
  position: absolute;
  height: 20px;
  /* 投影效果 */
  -webkit-box-reflect: below 1px
    linear-gradient(transparent, rgba(0, 0, 0, 0.2));
  color: #fff;
  font-size: 20px;
  /* 字间距 */
  letter-spacing: 2px;
  line-height: 20px;
  /* 自定义属性--c，可通过var函数对其调用 */
  --c: lightseagreen;
  /* 调用自定义属性--c，设置文字阴影（发光效果） */
  text-shadow: 0 0 10px var(--c), 0 0 20px var(--c), 0 0 40px var(--c),
    0 0 80px var(--c), 0 0 160px var(--c);
  /* 执行动画：动画名 时长 线性的 无限次播放 */
  animation: animate 5s linear infinite;
}
/* 定义动画 */
@keyframes animate {
  to {
    /* 色相旋转滤镜（设置度数可改变颜色） */
    filter: hue-rotate(360deg);
  }
}

/* nav_ul.css------------------------------ */
.nav_ul {
  box-sizing: border-box;
  list-style: none;
  border: 1px solid #fff;
  /* 大小 */
  position: absolute;
  z-index: 50;
  right: 60px;
  padding: 2px;
  margin: 6px 5px 0px 5px;
  height: auto;
  overflow: hidden;
  background-color: #cca4e3a4;
  color: black;
  /* flex布局 */
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.nav_ulClosed {
  z-index: 5;
}
.nav_li {
  cursor: pointer;
  color: black;
  float: right;
  position: relative;
  /* 大小与样式 */
  text-align: center;
  /* color: #ffffff; */
  text-decoration: none;
  /* 背景样式 */
  background-color: rgba(255, 255, 255, 0.4);
  /* 过渡 */
  transition: all 0.1s ease-in-out;
}
.nav_li:hover {
  transition-delay: 0.1s;
  text-shadow: 0px 1px 2px rgb(0, 0, 0);
}

.btn {
  box-sizing: border-box;
  position: absolute;
  right: 0px;
  width: 60px;
  height: 60px;
  padding: 5px;
  cursor: pointer;
  color: #808080;
  font-size: 40px;
  text-align: center;
  line-height: 50px;
}
.btn:hover {
  color: #ffffff;
}
.btn:active {
  transform: translateY(3px);
}
