@media (max-width: 900px) {
  .Home {
    grid-template-areas:
    'header'
    'sidebar'
    'content';
  }
  .leftblock,.rightblock{
    display: none;
  }
  .message{
    /* display: none; */
    --margin_size: 5px;
    width: calc(100% - 2 var(--margin_size));
    height: 100px;
    /* margin: var(--margin_size); */
    margin-top: 5px;
    margin-bottom: 0px;
    border-radius: 2px;
  }
  .show{
    margin-top: 5px;
    border-radius: 2px;
  }
  /* 导航栏列表 */



  /* 导航栏文字 */
  .welcome {
    top: 5px;
    left: 0px;
    text-align: left;
  }
  .master {
    text-align: right;
    bottom: 5px;
    right: 0px;
  }
  .tittle {
    width: 200px;
    left: 5px;
  }
  /* list */
  .list{
    height: calc(100vh - 238px + 5px);
    overflow: auto;
    margin: 0px 5px 5px;
    border-radius: 15px;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
  }
}
