@media (min-width: 1001px) {
  /* .Home {
    grid-template-areas:
      'header header header header header header header header header header' 
      'leftblock leftblock leftblock Home_body Home_body Home_body Home_body rightblock rightblock rightblock';
  } */
  .Home_body{
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
  .Home_body{
    width: 1000px;
    margin: auto;
  }
  .message{
    width: 300px;
    height: calc(100vh - 50px - 22px);
    margin-right: 5px;
  }
  .show{
    height: calc(100vh - 50px - 22px);
  }
  /* 导航栏列表 */

  /* 导航栏文字 */
  .welcome {
    top: 5px;
    left: 20px;
    text-align: left;
  }
  .master {
    text-align: right;
    bottom: 5px;
    right: 10px;
  }
  .title {
    width: 250px;
    left: 30px;
  }
  /* list */
  .list{
    height: calc(100vh - 150px);
    overflow: auto;
    margin: 0px 5px 10px;
    border-radius: 15px;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
  }
  /* classify */
  .classify_li{
    height: 80px;
    line-height: 80px;
    font-size: 35px;
  }
  .classify_li:after{
    width: 20px;
    height: 20px;
    top: 30px;
    right: 15px;
  }
}
